{% extends 'base.html' %}

{% block title %}{{ diary.title }}{% endblock %}

{% block content %}

  {# TinyMCE JS scripts #}
  {{ form.media }}

  {# Editor and page setup script and data #}
  <div>
    <div id="template-data"
      data-initial-content="{{ entry.content }}"
      data-theme="{{ user.theme }}"
      data-font-size="{{ user.font_size }}">
    </div>
  </div>
  {% load static %}
  <script type="text/javascript" src="{% static 'entry-editor-init.js' %}"></script>


  <nav class="navbar navbar-dark px-4 bg-title" style="height:68px">
    <div id="save-entry-icon" onclick="saveEntry()"
      data-bs-toggle="tooltip" data-bs-placement="right" title="Save changes">
      <i class="fs-4 bi bi-arrow-left"></i>
    </div>
    <div class="px-5 flex-grow-1 text-start">
      <p id="date-long" class="h5 m-0">{{ entry.date_time | date:'F d, Y - f A' }}</p>
      <p id="date-short" class="h5 m-0">{{ entry.date_time | date:'M d, Y - f A' }}</p>
    </div>
    <!-- <div class="flex-grow-1"></div> -->
    <!-- <div class="px-5">
      <p class="fs-5 text-light m-0">{{ entry.title }}</p>
    </div> -->
    <div id="delete-entry-icon" onclick="deleteEntry()"
      data-bs-toggle="tooltip" data-bs-placement="left" title="Delete entry">
      <i class="fs-4 bi bi-trash"></i>
    </div>
    <!-- <input class="btn btn-warning" type="submit" value="Save"> -->
  </nav>

  <form id="delete-form" action="{% url 'edit_entry' entry.uuid %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="delete_form" />
  </form>

  <form id="save-form" action="{% url 'edit_entry' entry.uuid %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="save_form" />
    <textarea id="editor" name="editor">

    </textarea>
  </form>

  <div class="d-flex justify-content-center">
    <div id="loading-editor-spinner" class="spinner-border m-5" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
{% endblock %}
